script(src="js/main.js")
div(id="mySidenav" class="sidenav")
  
  a(href="javascript: void(0)" class="closebtn" onclick="closeNav()") &times;
  a(href="#") Home
  a(href="announcements") Announcements
  a(href="#") #{user}

div(id="main")
  span(style="font-size: 30px; cursor: pointer;" onclick="openNav()") &#9776;
  h1(align="center") Announcements
    table
      div(class="header")
        tr
          th 
          th Announcement
          th Start Date
          th End Date
        tr
          td 
            input(type="checkbox")
          td(style="overflow-x: scroll;") #{announcement}
          td #{datebeg}
          td #{dateend}
        tr
          td 
            input(type="checkbox")
          td(style="overflow-x: scroll;") #{announcement}
          td #{datebeg}
          td #{dateend}
        tr
          td 
            input(type="checkbox")
          td(style="overflow-x: scroll;") #{announcement}
          td #{datebeg}
          td #{dateend}
        tr
          td 
            input(type="checkbox")
          td(style="overflow-x: scroll;") #{announcement}
          td #{datebeg}
          td #{dateend}
        tr
          td 
            input(type="checkbox")
          td(style="overflow-x: scroll;") #{announcement}
          td #{datebeg}
          td #{dateend}
        tr
          td 
            input(type="checkbox")
          td(style="overflow-x: scroll;") #{announcement}
          td #{datebeg}
          td #{dateend}
        tr
          td 
            input(type="checkbox")
          td(style="overflow-x: scroll;") #{announcement}
          td #{datebeg}
          td #{dateend}
          
  input(type="button" value="Delete")
  input(type="button" value="Edit")
          
style
  include css/main.css
script(type="text/javascript").
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
  }
