extends layout

block content
  form(action="/admin" method="post" align="center")
    label(for="title") Title: 
    input(type="text" placeholder="Title" name="title" autofocus required)
    label(for="ann") Announcement: 
    textarea(placeholder="Announcement" name="ann" autofocus required)
    label(for="datebeg") Start Date: 
    input(type="date" name="datebeg" required) 
    label(for="dateend") End Date: 
    input(type="date" name="dateend" required) 
    button(type="submit") Submit
      
  table(align="center")
    tr(class="header")
      th Title
      th Announcement
      th Start Date (YYYY-MM-DD)
      th End Date
      th Controls
      each announcement in announcements
        tr
          th= announcement.title
          th= announcement.ann
          th= announcement.datebeg
          th= announcement.dateend
          th
            a(href=`/admin/${announcement._id}/delete` class="control") Delete 
            a(href=`/admin/${announcement._id}/edit` class="control")  Edit
  
