extends layout

block content
  h1= title
  each announcement in announcements
    form(action=`/admin/${announcement._id}/edit` method="post")
      label(for="title") Title: 
      input(type="text" placeholder="Title" name="title" autofocus value=`${announcement.title}` required)
      label(for="ann") Announcement: 
      textarea(placeholder="Announcement" name="ann" autofocus value=`` required)= announcement.ann
      label(for="datebeg") Start Date: 
      input(type="date" name="datebeg" value=`${announcement.datebeg}` required) 
      label(for="dateend") End Date: 
      input(type="date" name="dateend" value=`${announcement.dateend}` required) 
      button(type="submit") Submit
