extends layout

block content
  include templates/sidenav.pug
  span(style="font-size: 30px; cursor: pointer;" onclick="openNav()") &#9776;
  h1(align="center") Edit
  each announcement in announcements
    form(action=`/admin/${announcement._id}/edit` method="post")
      label(for="title") Title:
      input(type="text" placeholder="Title" name="title" autofocus value=`${announcement.title}` required)
      label(for="ann") Announcement:
      textarea(placeholder="Announcement" name="ann" autofocus value=`` required)= announcement.ann
      label(for="datebeg") Start Date:
      input(type="date" name="datebeg" value=`${announcement.datebeg}` required)
      label(for="dateend") End Date:
      input(type="date" name="dateend" value=`${announcement.dateend}` required)
      button(type="submit") Submit

  script(type="text/javascript").
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
    }
